<settings>
    <servers>
        <server>
            <id>io.github.fabiojuchem</id>
            <username>${JIRO_USER}</username>
            <password>${JIRO_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.homedir>/home/mkacunha/.gnupg</gpg.homedir>
                <gpg.keyname>D0242320B4F9310E831699DB842B575597A4E0CA</gpg.keyname>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>pcf654!@</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>