<settings>
    <servers>
        <server>
            <id>io.github.fabiojuchem</id>
            <username>$JIRO_USER</username>
            <password>$JIRO_PASSWORD</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.homedir>/home/circleci/.gnupg</gpg.homedir>
                <gpg.keyname>$KEYID</gpg.keyname>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>$PASSPHRASE</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>