<settings>
    <servers>
        <server>
            <id>io.github.fabiojuchem</id>
            <username>FabioJuchem</username>
            <password>32687391@Aa123</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sign</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphrase>abnerlaura</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>